/* PERSONALIZZAZIONE STILE PAGINA WEB PROGGETTO PRESTO_1 */

/*------- COLORI PRINCIPALI DI DEFAULT DEL SITO -------*/

        :root{
            --ylw: rgb(255, 232, 31);
            --blk: rgb(23, 23, 23);
            --redlsb: rgb(228, 34, 43);
            --blu: rgb(23,23,230);
            --wht: rgb(244, 244, 244);
    }

    /*------- SETTAGGI DI DEFAULT DELLE PAGINE -------*/

    * {
        font-family: "Lato", sans-serif;
        } 

        h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{ 
            font-family: "Orbitron", sans-serif;

        }

        h1{
            font-size: 100px;
        }

    body{
        background-color: var(--blk);
        color: var(--ylw);
    }    


/* PREIMPOSTIAMO DELLE CLASSI PER I COLORI (PER ESEMPIO: PER LO SFONDO, PER IL TESTO, PER I TITOLI E COSI' VIA  */

    /*-------  CLASSI COLORI SFONDO -------*/

        .bg_ylw{
            background-color: var(--ylw);
        }

        .bg_blk{
            background-color: var(--blk);
        }

        .bg_redlsb{
            background-color: var(--redlsb);
        }

        .bg_blu{
            background-color: var(--blu);
        }

        .bg_wht{
            background-color: white;
        }

/*------- CLASSI COLORI TESTO -------*/

        .text_ylw{
            color: var(--ylw);
        }

         .text_blk{
            color: var(--blk);
        }

         .text_redlsb{
            color: var(--redlsb);
 
        }

        .text_blu{
            color: var(--blu);
        }

/* ------- CUSTOM INPUT ------- */

        .inputcustom{
            width: 100px;
            height: 100px;
            font-size: 40px;
           
        }